@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #f8fafc;
  --color-accent: #0ea5e9;
  --color-medical-blue: #e0f2fe;
  --color-medical-text: #0f172a;
}

body {
  @apply bg-slate-50 text-slate-900;
}
